block config

doctype html
html(lang=__.lang, class="no-js")
    head
        block head
            include head
    body.body(class=bodyClass)
        include mixins/svgsprite
        include mixins/linkarrow
        include mixins/linkarrow-white
        include mixins/linkarrow-left
        include mixins/linkarrow-left-white
        include blocks/menu
        include blocks/header
        include blocks/share
        
        .content
            block content
            include blocks/footer
        
        .hidden
            // include popups here
        
        block styles
            link(rel='stylesheet', href='assets/css/common.css?v=' + PACKAGE.version)
            link(rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css")
            link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css")
        block scripts-config
        block scripts
            include scripts