footer.footer
  .container.--flex.--jcsb
    .footer__left 
      .footer__list.--flex.--jcsb 
        .footer__item 
          .footer__title JMJ Group
          a.footer__link(href="") About
          a.footer__link(href="") Leadership
          a.footer__link(href="") Companies & Services
          a.footer__link(href="") Properties
        .footer__item 
          .footer__title Stay Tuned
          a.footer__link(href="") Career
          a.footer__link(href="") News & Publications
        .footer__item 
          .footer__title Legal
          a.footer__link(href="") Terms & Conditions
          a.footer__link(href="") Privacy Policy
        .footer__item 
          .footer__title Contact Details
          a.footer__link(href="") Contact Us
          .footer__contacts 
            p.footer__contact Marina Twin Towers 303, Lusail, Qatar
            p.footer__contact +974 3000 0044
            p.footer__contact
              a(href="mailto:info@jmj.qa") info@jmj.qa
    .footer__right 
      .footer__item
        .footer__title Follow Us
        .socials.--flex.--jcfe 
          a.socials__link(href="#")
            img(src="./assets/img/icons/ln.svg", alt="") 
          a.socials__link(href="#") 
            img(src="./assets/img/icons/fb.svg", alt="") 
          a.socials__link(href="#") 
            img(src="./assets/img/icons/in.svg", alt="") 
          a.socials__link(href="#") 
            img(src="./assets/img/icons/tw.svg", alt="") 
        .copyright
          p 
            b © JMJ Group, 2021
          p 
            | Developed by 
            a(href="#")
              b CICS WEB
          p All rights reserved
    .copyright.--mobile
      p 
        b © JMJ Group, 2021
      p 
        | Developed by 
        a(href="#")
          b CICS WEB
      p All rights reserved