mixin menu
  nav.menu
    .menu__wrap.--flex.--jcsb
      .menu__left
        img(src="", alt="")
      .menu__right.--flex.--jccn
        .menu__links
          .menu__link 
            a(href="index.html") Home 
          .menu__link 
            a(href="about.html") Our Story
          .menu__link 
            a(href="properties.html") Properties 
          .menu__link 
            a(href="leadership.html") Leadership
          .menu__link 
            a(href="companies.html") Companies & Services
          .menu__link 
            a(href="news.html") News & Publications
          .menu__link 
            a(href="career.html") Career
          .menu__link.menu__link--contacts
            a(href="contacts-1.html") Contact Us
          .socials.--flex.--jcfe 
            a.socials__link(href="#")
              img(src="./assets/img/icons/ln.svg", alt="") 
            a.socials__link(href="#") 
              img(src="./assets/img/icons/fb.svg", alt="") 
            a.socials__link(href="#") 
              img(src="./assets/img/icons/in.svg", alt="") 
            a.socials__link(href="#") 
              img(src="./assets/img/icons/tw.svg", alt="") 