.share-popup
  .share__close
    img(src="./assets/img/close.svg", alt="")
  h3.share__title Share the Article
  .share__socials
    p.text Share to social networks
    .socials.--flex.--jccn
      a.socials__link(href="#") 
        img(src="./assets/img/icons/fb.svg", alt="") 
      a.socials__link(href="#") 
        img(src="./assets/img/icons/in.svg", alt="") 
      a.socials__link(href="#") 
        img(src="./assets/img/icons/tw.svg", alt="") 
  .share__copy 
    p.text Or simply copy the link to share
    .--flex.--jcsb
      input.share__input(type="text" value="https://jmj.qa/news/article/12313/123123")
      button.share__button.--flex.--jccn.--aicn 
        span Copy Link
        .share__check