extends _includes/layout

block config
  - var pagetitle = 'Companies'
  - var bodyClass = 'dev'
block content
  +header(class="header-white header-small")
  +menu()
  section.companies-main
    .container 
      h1.companies-main__title Companies & Services
      .companies-main__list.--flex.--jcsb 
        .companies-main__tags 
          include _includes/blocks/tags
        .companies-main__search 
          input.filter-search(type="text" placeholder="Type keyword and press enter") 
          .filter-search__btn 
            img(src="./assets/img/search.svg", alt="")
  section.companies-focus 
    .container 
      h2.companies-focus__title Our Focus
      .title__description.companies-focus__description Field of occupation
      p.medium-text.companies-focus__text With a diverse portfolio incorporating Manufacturing, Construction, Production, Services, Manpower, and Industrial solutions Sheikh Jabor has ready access to a wide network of Industry Leaders and Ministries. 
      .companies-focus__grey-title.grey-title.parallax.p-5.--parrlax-mobile
        span amity
      .companies-focus__line
  section.companies-block 
    .container 
      h3.companies-block__title Real Estate & Hospitality
      .companies__wrap    
        .company__list.--flex 
          .company
            .company__pic
              img(src="./assets/img/companies/page/1.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
            .company__phones 
              p +974 4477 0455
              p +974 4477 0455
            .company__emails
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
            a.company__link.download(href="#" download) Company Profile
          .company
            .company__pic
              img(src="./assets/img/companies/page/2.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
            .company__phones 
              p +974 4477 0455
              p +974 4477 0455
            .company__emails
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
            a.company__link(href="#") urbanhospitality.qa
          .company
            .company__pic
              img(src="./assets/img/companies/page/3.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
          .company
            .company__pic
              img(src="./assets/img/companies/page/4.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
            .company__phones 
              p +974 4477 0455
              p +974 4477 0455
            .company__emails
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
            a.company__link(href="#" ) un1t.com
        .company__all.--flex.--jccn.--aicn
          span View All 6 Companies
          img(src="./assets/img/points.svg", alt="")
  section.companies-block 
    .container 
      h3.companies-block__title Design, IT & Consultancy
      .companies__wrap    
        .company__list.--flex 
          .company
            .company__pic
              img(src="./assets/img/companies/page/5.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
            .company__phones 
              p +974 4477 0455
              p +974 4477 0455
            .company__emails
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
            a.company__link.download(href="#" download) Company Profile
          .company
            .company__pic
              img(src="./assets/img/companies/page/6.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
            .company__phones 
              p +974 4477 0455
              p +974 4477 0455
            .company__emails
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
            a.company__link(href="#") urbanhospitality.qa
          .company
            .company__pic
              img(src="./assets/img/companies/page/7.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.We make it our priority to take care of the daily needs of your facilities and your team at work. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
          .company
            .company__pic
              img(src="./assets/img/companies/page/8.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
            .company__phones 
              p +974 4477 0455
              p +974 4477 0455
            .company__emails
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
            a.company__link(href="#" ) un1t.com
        .company__all.--flex.--jccn.--aicn
          span View All 6 Companies
          img(src="./assets/img/points.svg", alt="")
  section.mailblock 
    .container 
      .darkblock 
        h2.darkblock__title Want to become a partner?
        a.mailblock__link(href="#") 
          | Contact Us
          img(src="./assets/img/icons/mail.svg", alt="")
      .mailblock__circle-1.parallax.p-5.--parrlax-mobile
      .mailblock__circle-2.parallax.p-5
      .mailblock__circle-3.parallax.p-5.--parrlax-mobile
      .mailblock__line
  section.companies-block 
    .container 
      h3.companies-block__title Manpower & Development
      .companies__wrap    
        .company__list.--flex 
          .company
            .company__pic
              img(src="./assets/img/companies/company-6.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
            .company__phones 
              p +974 4477 0455
              p +974 4477 0455
            .company__emails
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
            a.company__link.download(href="#" download) Company Profile
          .company
            .company__pic
              img(src="./assets/img/companies/company-6.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
            .company__phones 
              p +974 4477 0455
              p +974 4477 0455
            .company__emails
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
            a.company__link(href="#") urbanhospitality.qa
          .company
            .company__pic
              img(src="./assets/img/companies/company-6.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
          .company
            .company__pic
              img(src="./assets/img/companies/company-6.png", alt="")
            h4.company__title Park Lane
            .company__description Real Estate, Hospitality
            .company__text-block
              p.company__text Delivering high-quality cleaning & hospitality services to our business partners throughout Qatar. We stay true to our motto of delivery quality without compromise. We make it our priority to take care of the daily needs of your facilities and your team at work.
            .company__phones 
              p +974 4477 0455
              p +974 4477 0455
            .company__emails
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
              .company__email
                a(href="mailto:") info@urbanhospitality.qa
            a.company__link(href="#" ) un1t.com
        .company__all.--flex.--jccn.--aicn
          span View All 6 Companies
          img(src="./assets/img/points.svg", alt="")