extends _includes/layout

block config
  - var pagetitle = 'leadership'
  - var bodyClass = 'dev'
block content
  +header(class="header-black header-small")
  +menu()
  .leadership-page
    section.leadership-sesction.leadership-sesction-top
      .container
        h1.h1-title Leadership
        .leadership-sesction__main.--flex.--jcsb
          .leadership-sesction__main-left
            .leadership-sesction__photo 
              img(src="./assets/img/leadership.jpg", alt="")
          .leadership-sesction__main-right.--flex.--aicn
            .leadership-sesction__main-info
              h3.leadership-sesction__title Sheikh Jabor Bin Mansour Al Thani
              .title__description Chairman
              p.medium-text.leadership__text JMJ Group is a group of companies under the stewardship of Sheikh Jabor Bin Mansour Bin Jabor Bin Jassim Al Thani. The Group consists of 40+ businesses across a variety of sectors ensuring ethical and compliant operations in the state of Qatar. 
              p.medium-text.leadership__text Based in the Iconic Marina Twin Towers in Lusail the family has a rich heritage of investing in the local market and helping to drive businesses to achieve solid and sustainable growth.
              .leadership-sesction__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="") 
    section.executives.leadership-sesction
      .container
        h3 Executives
        .companies__wrap    
          .company__list.--flex.--jcsb
            .company
              .company__pic(style="background: url(./assets/img/executives.jpg) no-repeat center / cover")
              h4.company__title Mansour Al-Halabi
              .company__description CEO
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="") 
            .company
              .company__pic(style="background: url(./assets/img/executives.jpg) no-repeat center / cover")
              h4.company__title Mansour Al-Halabi
              .company__description CEO
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="") 
            .company
              .company__pic(style="background: url(./assets/img/executives.jpg) no-repeat center / cover")
              h4.company__title Mansour Al-Halabi
              .company__description CEO
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="") 
            .company
              .company__pic
              h4.company__title Mansour Al-Halabi
              .company__description CEO
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="") 
        .company__all.--flex.--jccn.--aicn
          span View All 6 Companies
          img(src="./assets/img/points.svg", alt="")
        .grey-title.parallax.p-5.--parrlax-mobile.grey-title--right
          span executives
        .grey-title__line
    section.mailblock 
      .container 
        .darkblock 
          h2.darkblock__title Want to become a partner?
          a.mailblock__link(href="#") 
            | Contact Us
            img(src="./assets/img/icons/mail.svg", alt="")
        .mailblock__circle-1.parallax.p-5.--parrlax-mobile
        .mailblock__circle-2.parallax.p-5
        .mailblock__circle-3.parallax.p-5.--parrlax-mobile
        .mailblock__line
    section.directors.leadership-sesction
      .container
        h3 Directors
        .companies__wrap    
          .company__list.--flex.--jcsb
            .company
              .company__pic(style="background: url(./assets/img/executives.jpg) no-repeat center / cover")
              h4.company__title Mansour Al-Halabi
              .company__description Director
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="") 
            .company
              .company__pic(style="background: url(./assets/img/executives.jpg) no-repeat center / cover")
              h4.company__title Mansour Al-Halabi
              .company__description Director
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="") 
            .company
              .company__pic(style="background: url(./assets/img/executives.jpg) no-repeat center / cover")
              h4.company__title Mansour Al-Halabi
              .company__description Director
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="")
        .grey-title.parallax.p-5.--parrlax-mobile.grey-title--right
          span Directors
        .grey-title__line
    section.management.leadership-sesction
      .container
        h3 General Management
        .companies__wrap    
          .company__list.--flex.--jcsb
            .company
              .company__pic(style="background: url(./assets/img/executives.jpg) no-repeat center / cover")
              h4.company__title Mansour Al-Halabi
              .company__description Director
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="") 
            .company
              .company__pic(style="background: url(./assets/img/executives.jpg) no-repeat center / cover")
              h4.company__title Mansour Al-Halabi
              .company__description Director
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="") 
            .company
              .company__pic(style="background: url(./assets/img/executives.jpg) no-repeat center / cover")
              h4.company__title Mansour Al-Halabi
              .company__description Director
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="") 
            .company
              .company__pic(style="background: url(./assets/img/executives.jpg) no-repeat center / cover")
              h4.company__title Mansour Al-Halabi
              .company__description Director
              .company__description.company__description--small CICS Group
              .company__text-block
                p.company__text To make JMJ one of the most diversified and well known brands in the world by offering the.
              .leadership__social 
                a.socials__link(href="#") 
                  img(src="./assets/img/icons/ln.svg", alt="")
        .company__all.--flex.--jccn.--aicn
          span View All 6 Companies
          img(src="./assets/img/points.svg", alt="")
        .grey-title.parallax.p-5.--parrlax-mobile.grey-title--right
          span Managers
        .grey-title__line
    section.companies
      .container 
        h3.companies__title Our Companies
        .companies__list-wrap
          .swiper-container
            .swiper-wrapper
              .companies__item.swiper-slide
                img(src="./assets/img/companies/company-1.png", alt="")
              .companies__item.swiper-slide
                img(src="./assets/img/companies/company-2.png", alt="")
              .companies__item.swiper-slide
                img(src="./assets/img/companies/company-3.png", alt="")
              .companies__item.swiper-slide
                img(src="./assets/img/companies/company-4.png", alt="")
              .companies__item.swiper-slide
                img(src="./assets/img/companies/company-5.png", alt="")
              .companies__item.swiper-slide
                img(src="./assets/img/companies/company-1.png", alt="")
              .companies__item.swiper-slide
                img(src="./assets/img/companies/company-2.png", alt="")
              .companies__item.swiper-slide
                img(src="./assets/img/companies/company-3.png", alt="")
              .companies__item.swiper-slide
                img(src="./assets/img/companies/company-4.png", alt="")
              .companies__item.swiper-slide
                img(src="./assets/img/companies/company-5.png", alt="")
        .companies__link.--flex.--jcfe
          +linkarrow('View All Companies')
        .companies__line