extends _includes/layout

block config
  - var pagetitle = 'terms'
  - var bodyClass = 'dev'
block content
  +header(class="header-black header-small")
  +menu()
  section.terms
    .container
      h1.terms__title.h1-title.parallax.p-4 Terms & <br>Conditions
      .terms__block 
        h3 Section Heading Initial Case
        .terms__text
          p FIFA will trial concussion substitutes at next month’s Club World Cup in Qatar, soccer’s world governing body said on Friday. The decision comes after the game’s rule-making body IFAB gave the go-ahead to additional trials last month.
          p The trial at the Club World Cup, which will be held from Feb. 1-11, will allow one permanent concussion replacement in cases of head injury, regardless of the number of substitutions a team has made already. England’s Premier League are hoping to introduce concussion substitutes later this month, while FIFA is also ready to trial the system at this year’s Olympic Games.
          p FIFA  said teams participating in the Club World Cup are also permitted to make up to five substitutions per game rather than three — a rule brought in to protect player welfare amid COVID-19 related fixture congestion.
          p However, teams will only have three opportunities to make changes during the game and also at halftime.
      .terms__block 
        h3 Section Heading Initial Case
        .terms__text
          p FIFA will trial concussion substitutes at next month’s Club World Cup in Qatar, soccer’s world governing body said on Friday. The decision comes after the game’s rule-making body IFAB gave the go-ahead to additional trials last month.
          p The trial at the Club World Cup, which will be held from Feb. 1-11, will allow one permanent concussion replacement in cases of head injury, regardless of the number of substitutions a team has made already. England’s Premier League are hoping to introduce concussion substitutes later this month, while FIFA is also ready to trial the system at this year’s Olympic Games
        